<form>
    <mat-form-field class="num-requests">
        <mat-label>Num of Requests</mat-label>
        <input
            matInput
            type="number"
            id="numRequests"
            name="numRequests"
            [(ngModel)]="numRequests"
        />
    </mat-form-field>
    <br />
    <mat-form-field class="endpoint-url">
        <mat-label>Endpoint URL</mat-label>
        <input
            matInput
            type="url"
            id="endpointUrl"
            name="endpointUrl"
            [(ngModel)]="endpointUrl" /></mat-form-field
    ><br />
    <mat-form-field class="payload">
        <mat-label>Payload</mat-label>
        <textarea
            matInput
            rows="10"
            id="payload"
            name="payload"
            [(ngModel)]="payload"
        ></textarea>
    </mat-form-field>
    <br />
    <button mat-raised-button (click)="onStartClicked()" color="primary">
        Start
    </button>
</form>
