<dx-chart
    id="chart"
    [dataSource]="data$ | async"
    [rotated]="true"
    [customizeLabel]="(allCompleted$ | async) && customizeLabel"
    [customizePoint]="customizePoint"
    (onSeriesClick)="seriesClicked($event)"
>
    <dxi-series
        argumentField="requestId"
        valueField="secondsDuration"
        type="bar"
        color="#ffaa66"
    >
    </dxi-series>
    <dxo-argument-axis type="discrete"></dxo-argument-axis>
    <dxi-value-axis
        title="Elapsed Seconds"
        [wholeRange]="visibleRange"
        [visualRange]="visibleRange"
        visualRangeUpdateMode="keep"
    ></dxi-value-axis>
    <dxo-legend [visible]="false"></dxo-legend>
</dx-chart>

<div *ngFor="let activity of data$ | async">
    <div *ngIf="activity.status == 'Completed'">
        <app-activity-details [activity]="activity"></app-activity-details>
    </div>
</div>
