<dx-chart
    id="chart"
    [dataSource]="data$ | async"
    [rotated]="true"
    [customizeLabel]="(allCompleted$ | async) && customizeLabel"
    [customizePoint]="customizePoint"
>
    <dxi-series
        argumentField="requestId"
        valueField="secondsDuration"
        type="bar"
        color="#ffaa66"
    >
    </dxi-series>
    <dxo-argument-axis type="discrete"></dxo-argument-axis>
    <dxi-value-axis
        title="Elapsed Seconds"
        [wholeRange]="visibleRange"
        [visualRange]="visibleRange"
        visualRangeUpdateMode="keep"
    ></dxi-value-axis>
</dx-chart>
